{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'archive.html.twig' %}
{% set scope = 'archive' %}

{% block content %}

    <div class="platform-content">
        <div class="archive">

            {# Begin Page Header #}
            {% if gantry.config.get('content.' ~ scope ~ '.heading.enabled', '0') %}
                <header class="page-header">
                    <h1>
                        {% if gantry.config.get('content.' ~ scope ~ '.heading.text') is not empty %}
                            {{ gantry.config.get('content.' ~ scope ~ '.heading.text') }}
                        {% else %}
                            {{ title }}
                        {% endif %}
                    </h1>
                </header>
            {% endif %}
            {# End Page Header #}

            {% set staffroles = [
              {
                'title': 'Medical Providers',
                'key': 'medical',
                'group': [
                  {
                    'key': 'physicians',
                    'title': 'Physicians',
                  },
                  {
                    'key': 'nurse-practitioners',
                    'title': 'Nurse Practitioners',
                  },
                  {
                    'key': 'physical-therapists',
                    'title': 'Physical Therapists',
                  },
                ],
              },
              {
                'title': 'Mental Health Providers',
                'key': 'mental',
                'group': [
                  {
                    'key': 'psychiatrists',
                    'title': 'Psychiatrists',
                  },
                  {
                    'key': 'social-workers',
                    'title': 'Social Workers',
                  },
                ],
              },
            ]
            %}

            {% if request.get.open is empty %}

              {% set staffroles = staffroles|merge([
                {
                  'title': 'Clinical Staff',
                  'key': 'clinical',
                  'group': [
                    {
                      'key': 'care-managers',
                      'title': 'Care Managers',
                    },
                    {
                      'key': 'clinical-support',
                      'title': 'Clinical Support',
                    },
                    {
                      'key': 'lab',
                      'title': 'Lab',
                    },
                    {
                      'key': 'medical-assistants',
                      'title': 'Medical Assistants',
                    },
                    {
                      'key': 'pharmacy',
                      'title': 'Pharmacy',
                    },
                  ],
                },
                {
                  'title': 'Administrative Staff',
                  'key': 'administrative',
                  'group': [
                    {
                      'key': 'leadership',
                      'title': 'Leadership',
                    },
                    {
                      'key': 'psr',
                      'title': 'Patient Service Representatives',
                    },
                  ],
                },
              ])

              %}

            {% endif %}

            {# Begin staff role group loop #}
            {% for staffrolegroup in staffroles %}

            <h2>
              {{staffrolegroup.title}}
              {% if request.get.open is not empty and (staffrolegroup.key == 'medical' or staffrolegroup.key == 'mental') %}
               | <span class="label label-green">Accepting New Patients</span>
              {% endif %}
            </h2>

            {# Begin staff role loop #}
            {% for staffrole in staffrolegroup.group %}

              {% set query_parameters = {
                'post_type': 'staff',
                'posts_per_page': -1,
                'orderby': 'title',
                'order': 'ASC',
                'tax_query': {
                  0:{
                    'taxonomy': 'staff_role',
                    'terms': staffrole.key,
                    'field': 'slug'
                  },
                }
              } %}

              {% if request.get.open is not empty %}
                {% set query_parameters = query_parameters|merge({
                  'meta_query': {
                    0:{
                      'key': 'open',
                      'value': 1,
                      'compare': '='
                    },
                    'relation': 'AND'
                  }
                }) %}
              {% endif %}

              {% set posts = wordpress.call('Timber::get_posts', query_parameters) %}

              {% if posts is not empty %}

                <h3>
                  {{staffrole.title}}
                </h3>

                  {# Begin Post Entries #}
                  <section class="entries">
                      {% for post in posts %}
                          {% include ['partials/content-' ~ scope ~ '-' ~ post.post_type ~ '.html.twig', 'partials/content-' ~ scope ~ '.html.twig', (post.format) ? 'partials/content-' ~ post.format ~ '.html.twig' : '', 'partials/content.html.twig'] %}
                      {% endfor %}
                  </section>
                  {# End Post Entries #}

                  {# Begin Pagination #}
                  {% if pagination.pages and pagination.pages|length > 1 %}
                      {% include 'partials/pagination.html.twig' %}
                  {% endif %}
                  {# End Pagination #}

                <hr>

              {% endif %}

              {% endfor %}
              {# End staff role loop #}

            {% endfor %}
            {# End staff role group loop #}

        </div>
    </div>

{% endblock %}
